<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Dodo Page</title>
</head>
<body>

[%- IF last_page %]
    <a href="fr-[% n - 1 %].html">Prev</a>
    &nbsp; Next
    <p>

    <p>
    <h1>The End</h1>
    </p>
[%- ELSE %]

    [%- PROCESS nav.tt %]

    <center>
        <img src="fr-[% n %].png">
    </center>
    </p>
<hr>
    [%- PROCESS log.tt %]

    [%- PROCESS nav.tt %]
[% END %]

</body>
</html>

